/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree 
 *= require flexslider.css.
 */


#imge {
      background: #fc1;
      }

#banner {
    background: #fc1;
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #343;
    text-align: center;

   img {
         float: left;
       }
}

#side {
    float: left;
    padding: 10px;
    border-bottom: 2px solid;
    background: #cfb;
    font: small-caps 20px/20px "Times New Roman", serif;
     ul  {
     padding: 0;
        li  {
             list-style: none; 
             color: #06b;
            }
          a {
             color: #0fb;
	     font-size: small;
            }
 	 }

}

my {

font-size: 120%;
font-family: sans-serif;
margin-left: 100px;
margin-top: 0;
margin-bottom: 2px;
color: #CC6633;

}

