// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.e n}
Записьв каталоге s tore */


.news {

.main {
font-size: 500%;
font-family: "Courier";
margin-bottom: 2px;
color: #CD6600;
}

.entry {
overflow: auto;
margin-top: 1em;
border-bottom : 1px dotted #77d;
min-height: 100px;
img {
width: 90px;
margin-right: 5px;
margin-bottom: 5px;
position: absolute;
}

h3 {
font-size: 120%;
font-family: sans-serif;
margin-left: 100px;
margin-top: 0;
margin-bottom: 2px;
color: #227;
}

a {
  color: #66CC44;
  text-decoration: none;
  &:visited {
    color: #CC6633;
  }
  &:hover {
    color: #fff;
    background-color: #CC3333;
  }
}




p {
margin-left: 100px;
margin-top: 0.5em;
margin-bottom: 0.8em;
}
}

}
